@import url('https://fonts.googleapis.com/css2?family=Abel&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cardo:ital,wght@0,400;0,700;1,400&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tagesschrift&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&family=Underdog&display=swap');
*{
  margin: 0%;
  padding: 0%;
  font-family: "Tuffy", sans-serif;
  overflow-x: hidden;
  scroll-behavior:smooth ;
  box-sizing: border-box;
}
:root{
  --bg-color:#a7a8a8;
  --brown:#403e3c;
  --lightblack:rgba(47,52,52,255);
  --brown:#17150f;
  --gold:#6e624b;
  --litegold:#f5f5dc;
}

/* HERO SECTION */

.hero-section{
  background-image: url(./assets/bg-img.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.hero-section header{
  position: sticky;
  top: 0;
}
header>nav>a{
  text-decoration: none;
  color: gray;
  transition-property:transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
header>nav{
  width:80% ;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
header>nav>a:hover{
  color: white;
  transition: all 1s;
  transform: translateY(-10px);
}
header>nav>i{
  padding-left: 5px;
  margin: 15px;
  margin-left: 15%;
  color: #a7a8a8;
}
.name>h1, .name>div{
  color: aliceblue;
  width: 35%;
  padding: 20px;
}
.name{
  margin: 10%;
  font-size: larger;
  align-items: start;
  overflow: hidden;
  
}
.name>div{
  font-weight: 400;
  color:rgba(245, 245, 245, 0.621);
}
.name>div,.btn{
  animation: fadeInUp 4s ease;
}
.name>h1{
  font-weight: 900;
  font-size: 50px;
  animation:fadeInDown 4s ease ;
}
@keyframes fadeInDown {
            from { opacity: 0; transform: translateY(-20px); }
            to { opacity: 1; transform: translateY(0); }
        }

        @keyframes fadeInUp {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

.name .btn{
  padding: 10px;
  /* text-align: center; */
  margin-left: 2%; 
  background-color: rgba(245, 245, 245, 0.621);
  font-size: medium;
  box-shadow: 3px 3px 3px;
  border: none;
}
.name .btn:hover{
  background-color: rgb(76, 73, 73);
  color: wheat;
  text-shadow: 10%;
  cursor: pointer;
  font-size:large;
  border: none;
}
@media screen and (max-width:768px) {
  .name h1{
    width: 70%;
    margin: auto;
  }
  .name div{
    width: 70%;
    margin: auto;
    text-align: justify;
  }
  .name .btn{
    margin-left: 115px;
  }
  .name{
    width: 80%;
  }
  header>nav{
  width:95% ;
}
}
@media screen and (max-width:426px) {
 header>nav>a{
  display: none;
}
.name div, .name h1{
    text-align: left;
    padding: 20px 0;
    margin: 20px 0;
  }
  .name{
    width: 100%;
  }
}
@media screen and (max-width:320px) {
  .name .btn{
    margin-left: 50px;
  }
}


                           /* ABOUT SECTION */

.about-section{
  background-color:var(--brown);
  width: 100%;
  /* height: 100vh; */
}
.about>h2{
  color:burlywood;
  margin-top: 3%;
  margin-bottom: 3%;
  /* margin-left: 18%; */
  text-align: center;
  text-decoration: underline;
  width: 23%;
  /* animation-name:slideInLeft ;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction:normal; */
}

.about>.fonts>div{
  width: 120px;
  height: 100px;
  background: white;
  color: rgba(0, 0, 0, 0.696);
  transition: width 2s;
  display: flex;
  margin-left: 10%;
}
.about>.fonts>div:hover{
  width: 300px;
}
.about>p{
  width: 55%;
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-size:x-large;
  font-style: normal;
  margin-left:100px;
  color:whitesmoke;
  border-radius: 5px;
  animation-duration: 2s;
  animation: fa;
}
.info{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 110%;
}
.info p{
  color: #a7a8a8;
  width: 40%;
  text-indent:5%;
  text-align: start;
}
.info div{
  width: 50%;
}
.info img{
  width: 80%;
  border-radius: 50%;
}
@media screen and (max-width:900px) {
  .about>h2{
  color:burlywood;
  margin-top: 3%;
  margin-bottom: 3%;
  /* margin-left: 18%; */
  text-align: center;
  text-decoration: underline;
  width: 35%;
}
  .about>p{
  width: 75%;
  font-family: "Tagesschrift", system-ui;
  /* font-weight: 300; */
  font-size:larger;
  font-style: normal;
  /* margin-left:100px; */
  color:whitesmoke;
  border-radius: 5px;
  animation-duration: 2s;
  /* transition: all; */
  /* animation-play-state: running; */
}
.info{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin:20px 50px;
  /* height: 100vh; */
  /* margin-left: 20%; */
}
}
@media screen and (max-width:426px) {
  .about>h2{
  color:burlywood;
  margin-top: 3%;
  margin-bottom: 3%;
  /* margin-left: 18%; */
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
  .about>p{
  width: 90%;
  margin: 25px 40px;
  font-family: "Tagesschrift", system-ui;
  /* font-weight: 300; */
  font-size:larger;
  font-style: normal;
  /* margin-left:100px; */
  color:whitesmoke;
  border-radius: 5px;
  animation-duration: 2s;
  /* transition: all; */
  /* animation-play-state: running; */
}
  .info img{
  display: none;
}
  .info{
  display: block;
}
  .info p{
  color: #a7a8a8;
  width: 80%;
  text-indent:10%;
  text-align:justify;
}
}
@media screen and (max-width:320px) {
  .info p{
  color: #a7a8a8;
  width: 75%;
  padding: 0;
  text-indent:10%;
  text-align:justify;
}
}
                    /* SKILLS SECTION */

.skills-section{
  background-color:var(--brown);
  width: 100%;
}
.fonts{
  display:flex ;
  justify-content:space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 70px;
  margin: auto;
  gap: 30px;
  width:70%;
}
.fonts div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  border: 2px solid rgb(107, 78, 5);
  color: wheat;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  
}
.skills-section h2{
  color: burlywood;
  /* margin-left: 6%; */
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
  width: 30%;
}
.fonts div::before{
  content: "";
  position: absolute;
  background-color:rgba(205, 134, 63, 0.137);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  bottom: -100%;
  z-index: -1;
  transition: all 800ms ease-in;
}
.fonts div:hover{
  color: white;
  font-size: large;
  transition: all 1200ms ease-in;
  background-color:peru;
}
.fonts div:hover::before{
  bottom: 0;
}
@media screen and(max-width:1025px) {
  .skills-section h2{
  color: burlywood;
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
  width: 50%;
}
}
@media screen and (max-width:900px) {
  .skills-section h2{
  color: burlywood;
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
  width: 45%;
}
  .fonts{
  display:flex ;
  justify-content:space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 70px;
  margin: auto;
  gap: 30px;
  width:90%;
}
}
@media screen and (max-width:752px) {
  .skills-section h2{
  color: burlywood;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
 .fonts{
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding:20px;
  width:100%;
}
}
@media screen and (max-width:426px) {
  .skills-section h2{
  color: burlywood;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
 .fonts{
  flex-direction: column;
  padding:20px;
  width:100%;
}
}

                   /* education  */

.education-section{
  background-image: url(./assets/books.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.education-section .education-box{
  background-color: #a7a8a892;
  height: 50%;
  width: 25%;
  padding: 40px;
  margin: 5% 50%;
  /* display: flex; */

}
.education-section .education-box:hover{
  background-color: #38260f;
  color: bisque;
  box-shadow: inset;
  transform: scaleX(1.5);
  transition: 2s;
}
@media screen and (max-width:1024px) {
  .education-section .education-box{
  background-color: #a7a8a892;
  height: 50%;
  width: 35%;
  padding: 40px;
  margin: 5% 50%;
  /* display: flex; */
}
}
@media screen and (max-width:768px) {
  .education-section .education-box{
  /* background-color: black; */
  background-color: #a7a8a892;
  height: 50%;
  width: 50%;
  padding: 40px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  /* margin: 5% 28%; */
  /* display: flex; */

}
}
@media screen and (max-width:454px) {
  .education-section .education-box{
  background-color: #a7a8a892;
  height: 20%;
  width: 50%;
  font-size: small;
  padding: 20px;

}
}
@media screen and (max-width:375px) {
  .education-section .education-box{
  width: 75%;
}
}
/* PROJECT SECTION */

.projects{
  background-color: var(--brown);
  width: 100%;
  background-size: cover;
  /* height: 100vh; */
}
.projects h2{
  text-align: center;
  width: 25%;
  /* padding: 20px 8%; */
  text-decoration: underline;
  color: var(--litegold);
  margin: 4dvh 0%;
}
.projects .cards{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
  background-color: #6e624b;
}
.cards .products{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  gap: 20px;
  width: 95%;
  padding-left: 5%;
  margin: 30px 0px;
  
}
 .cards .products .box1{
  border: 1px solid wheat;
  /* padding: 20px 10px; */
  border-radius: 3px;
  text-align: justify;
}
.cards .products .box1 p{
  padding-top: 20px;
}
.cards .products .box1:hover{
  color: #17150f;
  background-color: #a7a8a8;
  font-size: large;
  transition: all 0s ease-in;
  text-align: center;
}
@media screen and (max-width:470px) {
  .projects h2{
  width: 40%;
}
}
@media screen and (max-width:426px) {
  .projects h2{
  text-align: center;
  width: 100%;
  text-decoration: underline;
  color: var(--litegold);
  margin: 4dvh 0%;
}
  .cards .products{
  flex-direction: column;  
}
}
/* CONTACT-SECTION */

.contact {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background-color: #17150f;
}
.contact-heading{
  position: relative;
}
.contact-heading h1{
  font-size: 120px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.156);
  z-index: 1;
  text-align: center;
}
.contact-heading h3{
  position: absolute;
  font-size: 36px;
  font-weight: 600;
  color: #FFC107;
  top: 70px;
  left: 610px;
  z-index: 2;
}
.contact .contact-details{
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
  width: 100%;
}
.form{
  overflow: hidden;
  color: antiquewhite;
  width: 40%;
}
.form .form-box input,textarea{
  padding: 10px;
  width: 90%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: var(--brown);
  color: aliceblue;
  font-size: medium;
}
textarea{
  resize: none;
}
.form-box input:focus, .form-box textarea:focus{
  outline: none;
  border: 2px solid #ffc1073e;
}
.form button{
  padding: 5px;
  width: 30%;
  border-radius: 10px;
  background-color:#ffc1073e;
  color: white;
  /* margin-left: 6%; */
  border-style: none;
}
.details p{
  color: wheat;
}
.details h3{
  color: #FFC107;
}
@media screen and (max-width:1024px) {
  .contact-heading h3{ 
  left: 400px;
}
.form button{
  padding: 7px;
  width: 40%;
}
}
@media screen and (max-width:768px) {
  .contact-heading h3{ 
  left: 280px;
}
.form button{
  padding: 7px;
  width: 40%;
  border-radius: 5px;
  margin-left: 2%;
}
}
@media screen and (max-width:426px) {
  .contact{
    overflow: hidden;
  }
  .contact-heading h1{
  font-size: 70px;
}
  .contact-heading h3{ 
  position: absolute;
  font-size:x-large;
  font-weight: 8px;
  color: #FFC107;
  top: 40px;
  left: 130px;
  z-index: 2;
}
  .contact .contact-details{
  flex-direction: column;
  text-align: center;
  width: 230%;
}
.details{
  width: 45%;
  margin-top: 20px;
  padding-bottom: 50%;

}
.form{
  padding-left: 4%;
}
.form .form-box input,textarea{
  padding:2% 1%;
}
.details{
  font-size: smaller;
}
}
@media screen and (max-width:376px) {
  .contact-heading h1{
  font-size: 60px;
}
  .contact-heading h3{ 
  position: absolute;
  font-size:x-large;
  font-weight: 8px;
  color: #FFC107;
  /* color: #17150f; */
  top: 30px;
  left: 110px;
  z-index: 2;
}
}
@media screen and (max-width:320px) {
  .contact-heading h3{ 
  top: 30px;
  left: 80px;
  z-index: 2;
}
.form .form-box input,textarea{
  padding:2% 1%;
}
.details{
  font-size: smaller;
}

}
